:root {
  --light-background: #FFF;
  --light-bold-font: #0f1419;
  --light-thin-font: #536471;
  --light-container: #f7f9f9;

  --dark-background: #000;
  --dark-bold-font: #e5e7e8;
  --dark-thin-font: #686d72;
  --dark-container: #16181c;

  --primary: #3F72AF;


  --container-elevation-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    0 0 0 1px hsla(230, 13%, 9%, 0.075),
    0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);


  --bold-weight: 800;
  --thin-weight: 600;

  --smooth-transition: transform 0.8s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.8s cubic-bezier(0.215, 0.610, 0.355, 1), color 0.8s cubic-bezier(0.215, 0.610, 0.355, 1), background-color 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
  --width-transition: width 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
  --button-transition: 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
  --scale-transform: scale(1.2);

  --mobile-border-radius: 10px;
  --mobile-padding: 1rem;

  --mobiles-thin-font: 12px;
  --mobiles-bold-font: 16px;
  --mobiles-title-font: 26px;
  --mobiles-logo: 32px;
  --mobiles-photo: 220px;

  --mobilel-thin-font: 14px;
  --mobilel-bold-font: 18px;
  --mobilel-title-font: 28px;
  --mobilel-logo: 34px;
  --mobilel-photo: 240px;


  --tablet-border-radius: 14px;
  --tablet-padding: 1.5rem;

  --tablet-thin-font: 16px;
  --tablet-bold-font: 20px;
  --tablet-title-font: 30px;
  --tablet-logo: 36px;
  --tablet-photo: 340px;


  --desktop-border-radius: 18px;
  --desktop-padding: 2rem;

  --desktop-thin-font: 18px;
  --desktop-bold-font: 22px;
  --desktop-title-font: 32px;
  --desktop-logo: 38px;
  --desktop-photo: 400px;


  --body-max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  transition: var(--smooth-transition);
}

::-webkit-scrollbar {
  display: none;
}

.App {
  height: 100vh;
  flex-grow: 1;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container {
  max-width: var(--body-max-width);
  margin: auto;
}

section {
  background-color: white;
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.two {
  background-color: blue;
}

.three {
  background-color: red;
}

@media (min-width:320px) {}

@media (min-width:480px) {}

@media (min-width:600px) {}

@media (min-width:801px) {}

@media (min-width:1025px) {}

@media (min-width:1281px) {}