:root {
  --light-background: #FFF;
  --light-bold-font: #0f1419;
  --light-thin-font: #536471;
  --light-container: #f7f9f9;

  --dark-background: #000;
  --dark-bold-font: #e5e7e8;
  --dark-thin-font: #686d72;
  --dark-container: #16181c;

  --primary: #3F72AF;


  --container-elevation-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    0 0 0 1px hsla(230, 13%, 9%, 0.075),
    0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);


  --bold-weight: 800;
  --thin-weight: 600;

  --smooth-transition: transform 0.8s cubic-bezier(0.215, 0.610, 0.355, 1), opacity 0.8s cubic-bezier(0.215, 0.610, 0.355, 1), color 0.8s cubic-bezier(0.215, 0.610, 0.355, 1), background-color 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
  --width-transition: width 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
  --scale-transform: scale(1.2);

  --mobile-border-radius: 10px;
  --mobile-padding: 1rem;

  --mobiles-thin-font: 12px;
  --mobiles-bold-font: 16px;
  --mobiles-logo: 32px;

  --mobilel-thin-font: 14px;
  --mobilel-bold-font: 18px;
  --mobilel-logo: 34px;


  --mobile-border-radius: 14px;
  --tablet-padding: 1.5rem;

  --tablet-thin-font: 16px;
  --tablet-bold-font: 20px;
  --tablet-logo: 36px;


  --mobile-border-radius: 18px;
  --desktop-padding: 2rem;

  --desktop-thin-font: 18px;
  --desktop-bold-font: 22px;
  --desktop-logo: 38px;


  --body-max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  transition: var(--smooth-transition);
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  margin: auto;
  width: 100vw;
  flex-grow: 1;
}

.container {
  max-width: var(--body-max-width);
  margin: auto;
}

.headerRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  padding: var(--mobile-padding) var(--mobile-padding) 0.5rem 0.5rem;
}

.modeIcon {
  /* applying padding in a position absolute child */
  width: calc(var(--mobiles-bold-font) + 0.5rem);
  height: calc(var(--mobiles-bold-font) + 0.5rem);
  font-size: var(--mobiles-bold-font);
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.modeIcon:hover {
  transform: var(--scale-transform);
  cursor: pointer;
}

.sun {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-background);
}

.moon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-background);
}

.flag {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flagImage {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--mobiles-bold-font);
}


@media (min-width:320px) {
  .modeIcon {
    width: calc(var(--mobilel-bold-font) + 0.5rem);
    height: calc(var(--mobilel-bold-font) + 0.5rem);
    font-size: var(--mobilel-bold-font);
  }

  .flagImage {
    width: var(--mobilel-bold-font);
  }
}

@media (min-width:480px) {}

@media (min-width:600px) {
  .headerRight {
    gap: 0.6rem;
    padding: var(--tablet-padding) var(--tablet-padding) 0.6rem 0.6rem;
  }

  .modeIcon {
    width: calc(var(--tablet-bold-font) + 0.5rem);
    height: calc(var(--tablet-bold-font) + 0.5rem);
    font-size: var(--tablet-bold-font);
  }

  .flagImage {
    width: var(--tablet-bold-font);
  }
}

@media (min-width:801px) {}

@media (min-width:1025px) {
  .headerRight {
    gap: 0.7rem;
    padding: var(--desktop-padding) var(--desktop-padding) 0.7rem 0.7rem;
  }

  .modeIcon {
    width: calc(var(--desktop-bold-font) + 0.5rem);
    height: calc(var(--desktop-bold-font) + 0.5rem);
    font-size: var(--desktop-bold-font);
  }

  .flagImage {
    width: var(--desktop-bold-font);
  }
}

@media (min-width:1281px) {}